.title {
    font-size: 2.8rem;
    border-bottom: .3rem solid #D93425;
}

.subtitle {
    text-transform: uppercase;
    font-family: "monospace";
    overflow: hidden;
    white-space: nowrap;
    border-right: .3rem solid #D93425;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret 1s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #D93425; }
  }

.experience-arrow {
    text-transform: uppercase;
    flex-direction: column !important;
    margin-top:3rem
}

.experience-arrow * {
    flex-direction: column !important;
}