.typing {
  text-align: center;
  min-height: 4.5em;
  margin-top: 0.5em;
}

.subtitle {
  text-transform: uppercase;
  font-family: "monospace";
  overflow: hidden;
  text-align: center;
  display: inline;

  /* border-right: .3rem solid #D93425; */
  /* animation: 
        typing 3.5s steps(40, end)
        blink-caret 1s step-end infinite; */
}

.caret {
  border-right: 0.3rem solid #d93425;
  animation: blink-caret 1s step-end infinite;
  display: inline;
  padding-left: 0.1em;
  padding-top: 0.4em;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #d93425;
  }
}
