.vertical-timeline--one-column.vertical-timeline::before {
    left: 42px !important;
}

.timeline-element--icon {
    width: 90px !important;
    height: 90px !important;
    margin-left: -45px !important;
    background-color: white;
    overflow: hidden;
    box-shadow: none !important ;
    border: .3rem solid white;
}

.vertical-timeline--one-column .timeline-element--icon {
    margin-left: 0 !important;
}

.timeline-element--icon img {
    max-width: 75%;
    max-height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
}

.timeline-element--text {
    color: black;
    border-bottom: .3rem solid #D93425;
    box-shadow: none !important;
    border-radius: 0;
}

.vertical-timeline--one-column .timeline-element--text {
    margin-left: 120px !important;
}

.timeline-element--date {
    text-transform: uppercase;
    top: 23px !important;
    opacity: .9;
    color: white !important;
}

.vertical-timeline--one-column .timeline-element--date {
    color: #021226 !important;
}

.vertical-timeline  .vertical-timeline-element-content-arrow {
    top: 38px !important;
}